.logoNav {
  display: inline-block;
}
.logo {
  height: 25px;
  width: 25px;
  margin-top: -6px;
}

.user-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.item {
  color: gray;
}
.item:hover {
  text-decoration: none;
}
.item:active {
  color: black;
  color: white;
}
