.container {
  height: 100%;
}
.row {
  height: 100%;
}

.image-center {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
  padding-bottom: 20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.image {
  width: 72px;
  height: 72px;
}

.btn-block {
  display: block;
  width: 100%;
}
