<div class="container text-center">
  <div class="row">
    <div class="col">
      {{ user | json }}
      <form class="form-signin" (ngSubmit)="submitForm()" #signUpForm="ngForm">
        <img
            class="mb-4 image"
            src="../../assets/conduit_logo.png"
            alt="logo"
          />
          <h3 class="h3 mb-3 font-weight-normal">Sign in</h3>
        <div class="form-group">
          <label for="exampleInputEmail1" class="sr-only">Email address</label>
          
          <input
            type="email"
            class="form-control is-invalid ng-invalid ng-untouched"
            [class.is-invalid]="email.invalid && email.touched"
            placeholder="Enter email"
            [(ngModel)]="user.email"
            name="email"
            #email="ngModel"
          />
         
          <div [hidden]="email.valid||email.untouched"  >
            
            <small style="color: crimson;">Email is required</small>
            
          </div>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="sr-only">Password</label>
          <input
            type="password"
            class="form-control ng-invalid"
            [class.is-invalid]="userpassword.invalid && userpassword.touched"
            placeholder="Password"
            [(ngModel)]="user.password"
            name="password"
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
            required
            #userpassword="ngModel"
          />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button
          class="btn btn-lg btn-primary btn-block"
          type="submit"
          [disabled]="!signUpForm.form.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
