<div>
    <div class="row">
        <div class="col">
            <h5>{{username}}</h5>
            <img [src]="image" alt="" class="profilePic">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>
                        Bio
                    </h5>
                </div>
                <div class="col">
                    {{bio}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Email</h5>
                </div>
                <div class="col">
                    {{email}}
                </div>
            </div>
        </div>
    </div>
</div>
