<div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col profileName">
          <span>{{ username }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img
            [src]="image"
            alt=""
            class="profilePic rounded mx-auto d-block"
          />
        </div>
      </div>
      <div class="row px-4 mx-4">
        <div class="col text-right text-justify pl-0">
            <h5>Bio</h5>
          </div>
          <div class="col text-justify">
            {{ bio }}
          </div>
      </div>
      <div class="row ">
        <div class="col text-right text-justify pl-0">
          <h5>Email</h5>
        </div>
        <div class="col text-justify">
          {{ email }}
        </div>
      </div>
    </div>
  </div>
</div>
