.linkFormat {
  color: white;
  text-decoration: none;
}
.columnFormat {
  margin-top: 15px;
  margin-left: 10px;
}
.middleColumnFormat {
  margin-top: 15px;
}

.contact:hover {
  text-decoration: none;
}

.element {
  background: white;
  height: 100px;
}
