<div class="element">
  <hr />
  <div class="row">
    <div class="col middleColumnFormat">
      <span class="text-muted"> <small>Copyright &copy; <b>Amandee Ellawala</b>, 2021. MIT Licensed.</small>  </span>
    </div>

    <div class="col text-right middleColumnFormat">
      <span class="mr-2">
        <fa-icon
          [icon]="faLinkedinIn"
          [styles]="{ color: 'grey' }"
          size="lg"
        ></fa-icon>
      </span>

      <span class="mr-2">
        <fa-icon
          [icon]="faGithub"
          [styles]="{ color: 'grey' }"
          size="lg"
        ></fa-icon>
      </span>
    </div>
  </div>
</div>
