<div class="element">
  <div>
    <div class="row">
      <div class="col columnFormat">
        <div class="row">
          <div class="col">
            <h6 class="linkFormat">Explore Conduit Blog</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">Contact Us</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">About Us</a>
          </div>
        </div>
      </div>
      <div class="col middleColumnFormat">
        <div class="row">
          <div class="col">
            <h6 class="linkFormat">Policies</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">Parivacy Policy</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">Legal Terms</a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">Cookie Policy</a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a href="#" class="linkFormat">Community guidelines</a>
          </div>
        </div>
      </div>
      <div class="col middleColumnFormat">
        <div class="row">
          <div class="col"><h6 class="linkFormat">Your Information</h6></div>
        </div>
        <div class="row">
          <div class="col">
            <a href="" class="linkFormat"> Customize Cookie Settings </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="" class="linkFormat"> Data Privacy Requests </a>
          </div>
        </div>
      </div>
      <div class="col middleColumnFormat">
        <div class="row">
          <div class="col"><i class="fab fa-facebook"></i></div>
          <div class="col"><i class="fab fa-twitter"></i></div>
          <div class="col"><i class="fab fa-linkedin-in"></i></div>
          <div class="col"><i class="fab fa-youtube"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
