h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.logo {
  margin-top: 1em;
}

.articleImage {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  color: gray;
  text-transform: capitalize;
  margin-left: 10px;
}
a:hover {
  text-decoration: none;
}
.username:hover {
  color: black;
  text-decoration: none;
}
::ng-deep .tooltip-inner {
  background-color: grey;
  color: #fff;
  border: black solid 1px;
}
.tooltipFormat {
  color: black;
}
button {
  border-radius: 15%;
  box-shadow: 0px 0px;
  background-color: #009daa;
  border: none;
  color: white;
  font-size: small;
  font-weight: bold;
}
