h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.logo {
  margin-top: 1em;
}
